h1 {
    color: red;
}

p {
    color: green;
}

li {
    list-style-type: none;
}

.special,
span.special {
    color: orange;
    font-weight: bold;
}

/* Styling things based on their location in a document */
li em {
    color: violet;
}

h1 + p {
    font-size: 40px;
}

/* Styling things based on state */
a:link {
    color: rgba(255, 0, 221, 0.753);
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: gray;
}


/* Combining selectors and combinators */
/* selects any <span> that is inside a <p>, which is inside an <article>  */
article p span {  }

/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1>  */
h1 + ul + p {  }

/* You can combine multiple types together, too */
body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
  }